<h1>ペット登録</h1>

<%= form_with model: @pet, local: true do |f| %>
  ペットの画像  <%= f.file_field :images, multiple: true %></br>
  ペットの名前  <%= f.text_field :name %></br>
  ペットの年齢  <%= f.text_field :age %></br>
  ペットの性別  <%= f.text_field :sex %></br>
  ペットの毛色  <%= f.text_field :color %></br>
  ペットの種類  <%= f.text_field :kind %></br>
  ペットの説明  <%= f.text_field :introduction %></br>
  <%= f.submit "登録する" %>
<% end %>
