<h1>プロフィール編集</h1>

<%= link_to "画像を登録", new_customer_path %>

<%= form_with model: @customer, local: true do |f| %>
  ニックネーム <%= f.text_field :nickname %></br>
  性別　       <%= f.text_field :sex %></br>
  職業　       <%= f.text_field :professtion %></br>
  紹介文       <%= f.text_field :introduction %></br>
               <%= f.submit '保存する' %>
<% end %>