 <h1>シッター情報</h1>

 <%= link_to "登録する", edit_sitter_customer_path(@sitter.id) %>

 <%= @sitter.last_name %></br>
 <%= @sitter.first_name %></br>
 <%= @sitter.telephone_number %></br>
 <%= @sitter.postal_code %></br>
 <%= @sitter.address %></br>