 <h1>シッター情報詳細</h1>

 <% if @sitter.id == current_customer.id %>
 <%= link_to "登録する", edit_customer_sitter_path(current_customer, @sitter.id) %>
 <%= @sitter.last_name %></br>
 <%= @sitter.first_name %></br>
 <%= @sitter.telephone_number %></br>
 <%= @sitter.postal_code %></br>
 <%= @sitter.address %></br>

 <% else %>
 <%= @sitter.nickname %>
 <%= link_to "シッターに問い合わせる", chat_path(current_customer.id) %>
 <%= link_to "予約に進む", customer_sitter_reservations_path(current_customer, @sitter.id) %>

 <% end %>

@sitter.favorite?(current_customer): <%= @sitter.favorite?(current_customer) %><br>
 <% if @sitter.favorite?(current_customer) %>
   <%= link_to customer_sitter_favorites_path(current_customer, @sitter.id), method: :delete do %>
     <span style = "color:red;" >❤︎</span>
   <% end %>
 <% else %>
   <%= link_to customer_sitter_favorites_path(current_customer, @sitter.id), method: :post do %>
     <span>❤︎</spa>
   <% end %>
 <% end %>

<h2>Sitter Reviews</h2>
<% @reviews.each do |review| %>
 <div>
  <%= simple_format(review.introduction) %>
 </div>
 <div id="sitter-review_<%= review.id %>" data-rate="<%= review.rate %>"></div>
 <script>
  $('#sitter-review_<%= review.id %>').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-rate');
    },
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
  });
 </script>
<% end %>