<div><h>トップページ</h></div>

<% @sitters.each do |sitter| %>

    <% if customer_signed_in?%>
      <% if  sitter.present? %>
        <%= link_to "詳細ページへ", customer_sitter_path(current_customer.id, sitter.id) %></br>
      <% else %>
      <%# 何も表示させいない %>
      <% end %>
    <% else %>
      <%= link_to "詳細ページへ", new_customer_session_path %></br>
    <% end %>
      <% sitter.images.each do |image|%>
              <%= image_tag image, size: 10*10 %></br>
      <% end %>
      <%= sitter.age %><br>
      <%= sitter.sex %><br>
<% end %>

